body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(147, 36, 36);
    background-color: rgb(255, 255, 255);
}

.sobremim{
    color: rgb(147, 36, 36);
}
header{
    background-color:aliceblue;
    padding: 20px;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 1200px;
    padding: 10px;
    border-radius: 16px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    color: white
}

nav ul li a:hover{
    color:brown;
}

button{
    padding: 10px 20px;
    background-color: rgb(146, 50, 50);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover{
    background-color: rgb(211, 90, 90);
    transform: translateY(-5px);
}

@media (max-width:768px) {
    nav{
        flex-direction: column;
    }

    nav ul{flex-direction: column;
    gap:10px;
    margin: bottom 10px;}
}